In [10]:
%whos

Variable   Type      Data/Info
------------------------------
sys        module    <module 'sys' (built-in)>

In [11]:
x=3

In [12]:
print(type(x))

<class 'int'>

In [13]:
x=5.7

In [14]:
%whos

Variable   Type      Data/Info
------------------------------
sys        module    <module 'sys' (built-in)>
x          float     5.7

In [15]:
print(type(x))

<class 'float'>

In [16]:
abcd= 0.9

In [17]:
%whos

Variable   Type      Data/Info
------------------------------
abcd       float     0.9
sys        module    <module 'sys' (built-in)>
x          float     5.7

In [18]:
a,b,c,d= 23,128.5,89,100.76

In [19]:
%whos

Variable   Type      Data/Info
------------------------------
a          int       23
abcd       float     0.9
b          float     128.5
c          int       89
d          float     100.76
sys        module    <module 'sys' (built-in)>
x          float     5.7

In [20]:
a=39

In [21]:
%whos

Variable   Type      Data/Info
------------------------------
a          int       39
abcd       float     0.9
b          float     128.5
c          int       89
d          float     100.76
sys        module    <module 'sys' (built-in)>
x          float     5.7

In [22]:
del abcd

In [23]:
%whos

Variable   Type      Data/Info
------------------------------
a          int       39
b          float     128.5
c          int       89
d          float     100.76
sys        module    <module 'sys' (built-in)>
x          float     5.7

In [24]:
mod_a=a%10

In [25]:
%whos

Variable   Type      Data/Info
------------------------------
a          int       39
b          float     128.5
c          int       89
d          float     100.76
mod_a      int       9
sys        module    <module 'sys' (built-in)>
x          float     5.7

In [26]:
a=41
div_a=a//7

In [27]:
%whos

Variable   Type      Data/Info
------------------------------
a          int       41
b          float     128.5
c          int       89
d          float     100.76
div_a      int       5
mod_a      int       9
sys        module    <module 'sys' (built-in)>
x          float     5.7

In [28]:
bool1= True
bool2= False
bool3= False
bool4= True

In [29]:
%whos

Variable   Type      Data/Info
------------------------------
a          int       41
b          float     128.5
bool1      bool      True
bool2      bool      False
bool3      bool      False
bool4      bool      True
c          int       89
d          float     100.76
div_a      int       5
mod_a      int       9
sys        module    <module 'sys' (built-in)>
x          float     5.7

In [30]:
print(not(bool3 and bool2))

True

In [31]:
bR=round(b)

In [32]:
%whos

Variable   Type      Data/Info
------------------------------
a          int       41
b          float     128.5
bR         int       128
bool1      bool      True
bool2      bool      False
bool3      bool      False
bool4      bool      True
c          int       89
d          float     100.76
div_a      int       5
mod_a      int       9
sys        module    <module 'sys' (built-in)>
x          float     5.7

In [33]:
dR=round(d,1)

In [34]:
%whos

Variable   Type      Data/Info
------------------------------
a          int       41
b          float     128.5
bR         int       128
bool1      bool      True
bool2      bool      False
bool3      bool      False
bool4      bool      True
c          int       89
d          float     100.76
dR         float     100.8
div_a      int       5
mod_a      int       9
sys        module    <module 'sys' (built-in)>
x          float     5.7

In [35]:
divMode=divmod(27,5)

In [36]:
%whos

Variable   Type      Data/Info
------------------------------
a          int       41
b          float     128.5
bR         int       128
bool1      bool      True
bool2      bool      False
bool3      bool      False
bool4      bool      True
c          int       89
d          float     100.76
dR         float     100.8
divMode    tuple     n=2
div_a      int       5
mod_a      int       9
sys        module    <module 'sys' (built-in)>
x          float     5.7

In [37]:
print(divMode)

(5, 2)

In [38]:
isinstance(9.6,int)

False

In [39]:
pow(2,3)

8

In [40]:
number=int(input("Enter number:"))

ValueError: invalid literal for int() with base 10: 'as'

In [ ]:
print(number)

10

In [ ]:
type(number)

int

In [ ]:
str(number)

'10'

In [ ]:
type(number)

int

In [ ]:
num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))

if num1>num2:
    print("First number:",num1)
    print("Second number:",num2,"\n")
    print("First number greater than second number")
elif num2>num1:
    print("First number:",num1)
    print("Second number:",num2,"\n")
    print("Second number greater than first number")
else:
    print("First number:",num1)
    print("Second number:",num2,"\n")
    print("First and second numbers are equal")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
x=float(input("Enter a float number:"))
y=round(x)
if x>0:
    if y>x:
        intPortion=y-1
    else:
        intPortion=y
else:
    if y<x:
        intPortion=y+1
    else:
        intPortion=y
print(intPortion)

if intPortion%2 == 0:
    print("Even")
else:
    print("Odd")

-21
Odd

In [ ]:
n=int(input())
i=1
while i<=n:
    print("This is iteration number:",i)
    print(i**2)
    i+=1
print("Loop done")

This is iteration number: 1
1
This is iteration number: 2
4
This is iteration number: 3
9
This is iteration number: 4
16
Loop done

In [ ]:
n=10
i=1
while True:
    if i%9 == 0:
        print("İnside if")
        break
    else:
        print("Inside else")
        i+=1

print("Done")
print(i)

Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
İnside if
Done
9

In [ ]:
n=10
i=1
while True:
    if i%9 != 0:
        print("Inside if")
        i+=1
        continue
    print("Something")
    print("Something else")
    break

Inside if
Inside if
Inside if
Inside if
Inside if
Inside if
Inside if
Inside if
Something
Something else

In [ ]:
L=[]
for i in range(10):
    print(i)
    L.append(i**2)
print(L)

0
1
2
3
4
5
6
7
8
9
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
L=[1,2,4,-5,7,9,3,2]

for i in L:
    if L[i]>L[i+1]:
        temp=L[i]
        L[i]=L[i+1]
        L[i+1]=temp
        
    else:
        continue

print(L)

IndexError: list index out of range

In [ ]:
def sum(a,b):
    result=a+b
    return result

In [ ]:
sum(10,12)

22

In [ ]:
print(sum(10,12))

22

In [ ]:
def add(*args):
    sum=0
    for i in range(len(args)):
        sum+=args[i]
    return sum

In [ ]:
add(1,2,3)

6

In [ ]:
add(1,2,3,4,5,6)

21

In [ ]:
L={"Banana":21, "Apple":11, "Strawberry":35}

for i in L:
    print(L,L[i])

{'Banana': 21, 'Apple': 11, 'Strawberry': 35} 21
{'Banana': 21, 'Apple': 11, 'Strawberry': 35} 11
{'Banana': 21, 'Apple': 11, 'Strawberry': 35} 35

In [ ]:
import sys
sys.path.append('D:/CODE/DataScience/Jupyter/functionEx.py')

In [3]:
import functionEx as fun
sum=fun.addAllNumerics(1,2,3,)
print(sum)

6

In [6]:
from functionEx import addAllNumerics
d=addAllNumerics(1,2,3)
print(d)

6

In [8]:
def findMin(L):
    m=L[0]
    idx=0
    i=0
    for x in L:
        if x<m:
            m=x
            idx=i
        else:
            pass
        i+=1
    return m,idx

In [11]:
a, b = findMin([1,2,3,4,5,0])

In [12]:
print(a,b)

0 5

In [17]:
def swapVal(L,idx1,idx2):
    tmp=L[idx1]
    L[idx1]=L[idx2]
    L[idx2]=tmp
    return L

In [16]:
L=[2,3,4,5,6]
L2=swapVal(L,1,3)

In [19]:
print(L2)

[2, 5, 4, 3, 6]

In [1]:
s="Hello world"
print(s)

Hello world

In [2]:
print(s[1:3])

el